<form method="POST" action="/restaurants/{{user._id}}?_method=PUT">
    Name: <input type="text" name="name" value="{{user.name}}"><br>
    Description: <input type="text" name="description" value="{{user.description}}"><br>
    Phone: <input type="text" name="Phone" value="{{user.phoneNumber}}"><br><br>
    <input type="submit">
</form>